/* You can add global styles to this file, and also import other style files */

html, body { 
    scroll-behavior: smooth;
    margin: 0;
	padding: 0;
    border: 0;
    position: absolute;
	font: inherit;
    vertical-align: baseline;
    overflow-x: hidden !important;
    overflow-y: auto;
    width: 100vw !important;
}
body {
    font-family: 'Muli', sans-serif;
    background-color:#000;
    color: #fff;
    font-size: 10px;
}
