<div class="list-area">
    <div class="pad" fxLayout="column" fxLayoutAlign="center">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Upload an Anthem</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form #uploadForm="ngForm" (ngSubmit)="performUpload(uploadForm)">
                    <div fxLayout="column" fxLayoutGap="2vw" class="full_width">                   
                    <mat-form-field>
                    <input matInput placeholder="Title" type="text" name="title" id="title" #title ngModel required><br>
                    </mat-form-field>
                    <mat-form-field>
                            <mat-select placeholder="Country" name = "country_code" id="country_code" [(ngModel)]="model.country_code" required>
                                    <mat-option *ngFor="let c of countries" [value]="c.code"> {{ c.name }}</mat-option>
                                </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                            <mat-select placeholder="Listen Slots" name = "listen_slots" [(ngModel)]="model.listen_slots" id="listen_slots" required>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                                <mat-option value="3">3</mat-option>
                                <mat-option value="4">4</mat-option>
                                <mat-option value="5">5</mat-option>
                            </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                    <textarea matInput placeholder="Lyrics" name="lyrics" id="lyrics" #article cols="30" rows="10" ngModel></textarea><br>
                    </mat-form-field>
                    <label for="musicFile">Upload Mp3 of Anthem</label>
                    <input type="file" accept='audio/mpeg' name="musicFile" id="musicFile" #musicFile ngModel required>
                    <button mat-raised-button [disabled]="uploadForm.invalid" color="accent" type="submit">Submit</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>