<div class="list-area">
        <div *ngIf="isLoading">
            <mat-card fxLayout="column" 
            class="progress" fxLayoutAlign="center center" >
            
                <mat-progress-spinner 
                color="accent"
                mode="indeterminate">
            </mat-progress-spinner>
            <h3>Loading Please Wait!</h3>
            </mat-card>
        </div>
        <div *ngIf="song === undefined && !isLoading && !isError">
            <mat-card>
                No Song Found!
            </mat-card>
        </div>
        <div *ngIf="isError" class="error-card">
                <mat-card>
                    <img src="/assets/images/error-404.png" width="200px"><br>
                    <h3>We have encountered an error.</h3> 
                    <h3>Please try again later!</h3>
                </mat-card>
        </div>
        <div class="pad" fxLayout="row column" fxLayoutAlign="center flex-start" *ngIf="song">
            <mat-card class="card">
                <mat-card-header>
                        <div mat-card-avatar><img src="https://sandy-paf-2019.sgp1.digitaloceanspaces.com/flags/{{song.code.toLowerCase()}}.png" width="40px"></div>
                        <mat-card-title>{{song.title}}</mat-card-title>
                        <mat-card-subtitle>National Anthem of: {{song.name}}</mat-card-subtitle>
                      </mat-card-header>
                      <mat-card-content>
                            <audio controls>
                                    <source src="horse.ogg" type="audio/ogg"> 
                                    <source src="https://sandy-paf-2019.sgp1.digitaloceanspaces.com/songs/{{song.song_file}}" type="audio/mpeg">
                                  Your browser does not support the audio element.
                            </audio><br>
                            <h3> Lyrics </h3>
                            <p>{{song.lyrics}}</p>
                            <!-- TODO: If had more time, would Format in Paragraph form-->
                            <h3>Played: {{song.listen_count}}</h3>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button (click)="checkinSong()">BACK</button>
                      </mat-card-actions>
            </mat-card>
        </div>
        </div>