
.header {
    font-weight: 900;
    font-size: 2.4rem;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 50px;
    letter-spacing: 0.2em;
    text-align: center;
  	font-family: 'Muli', sans-serif;
    text-shadow: 3px 3px 10px #333; 
}

.mat-raised-button {
    border: 2px solid #fff;
    background: rgba(255,193,7,0.7);
    font-weight: 700;
    font-family: 'Muli', sans-serif;
    margin-right: 10px;
}

.mat-raised-button:hover {
    background: rgba(255,255,255,0.4);
    background: rgba(255,193,7,1);
    border: 2px solid #ffc107;
    border: 2px solid #fff;
}
